@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rasinblack;
  }
}

.default-h1 {
  @apply text-3xl text-whitesmoke mb-4 font-outfit;
}

.default-h2 {
  @apply text-xl font-thin text-whitesmoke mb-4 font-outfit;
}

.default-input {
  @apply rounded-lg bg-whitesmoke bg-opacity-20 px-3 py-2 text-whitesmoke font-outfit;
}

.default-button {
  @apply bg-bluecs text-whitesmoke font-bold py-2 px-4 rounded h-10 transition duration-300 min-w-fit font-outfit;
}

.default-button:hover {
  @apply bg-skybluecs;
}
.default-button:disabled {
  @apply bg-greycs;
}

.grid-button {
  @apply text-bluecs font-bold rounded transition duration-300 min-w-fit font-outfit;
}

.grid-button:hover {
  @apply text-greycs underline;
}
.grid-button:disabled {
  @apply bg-greycs;
}

.default-link {
  @apply text-whitesmoke text-xl;
}
.default-link:hover {
  @apply text-bluecs;
}
